.p1 {
    border: 2px solid black;
    background-color: #f0f0f0;
    opacity: 0.7;
    display: block;
    box-sizing: content-box;
    border-radius: 10px;
    padding-left: 15px;
}

p {
    color: #858585;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
body {
    width: 85%;
    margin-left: 100px;
    font-size: large;
}
ol {
        display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    color: #858585;
}
fieldset {
    color: blue;
    border-radius: 10px;
}

ul {
    color: #858585;
}
b {
    color: black;
}
.p2 {
    background-color: #dddddd;
}